button{
    padding: 10px 18px;
    border: 1px solid  rgb(19, 18, 18);
    color: aliceblue;
    background-color:white;
    cursor: pointer;
    transition: all 0.30s ease-in-out;
    border-radius: 2px;
}