button{
    padding: 10px 18px;
    border: 1px solid  white;
    color: aliceblue;
    background-color: rgb(15, 15, 15);
    cursor: pointer;
    transition: all 0.30s ease-in-out;
    border-radius: 5px;
}