.card__card__large{
    padding: 4% 4%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 40px;
    flex-direction: column;
    justify-content: center;

    & > h1{
        font-size: 50px;

    }
}
.parent {
    & > h1{

        text-align: center;
        line-height:2;
    }

}

p{
    color: #161718;
}
.card__large{
    display: flex;
    gap: 40px;
}

.card__cards{
    padding: 2% 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    gap: 50px;
    background-color:  #fff;

}
.card__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.30s ease-in-out;
    margin-top: 50px;
    
    i{
        color: #cc8b12;
    }
    height:60px;
    width: 60px;
    border-radius:50%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;

}


.card__content{
    display: flex;
    flex-direction: column;
    font-size: larger;

    gap:20px ;
}